* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    min-height: 100vh;
    /* background:linear-gradient(to right top,#080808,#f34602,#fa6950,#cc4e4e ); */
    background-color:rgb(33, 185, 196)
}
form{
    background: #989898ce;
    width: 350px;
    height: 500px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5rem;
}
.form-header{
    color: #fff;
    font-weight: 500;
}

.text-box{
    border-bottom: 2px solid #000;
    position: relative;
    margin: 35px 0;
}

.text-box input{
    background: none;
    border: none;
    outline: none;
    width: 100;
    font-size: 2rem;
}
.login-btn{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: grey;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.signup-box{
    font-style: oblique;
    text-align: center;
    
}
.signup-box p{
    font-size: 1.2rem;
}
.signup-box a{
    font-size: 3rem;
    font-weight: 600;
}